:root {
    --clr-primary-cyan: hsl(179, 62%, 43%);
    --clr-primary-cyan-opacity: hsla(179, 62%, 43%, 0.8);
    --clr-primary-yellow: hsl(71, 73%, 54%);

    --clr-neutral-gray: hsl(204, 43%, 93%);
    --clr-neutral-gray-blue: hsl(218, 22%, 67%);
}

* :first-child {
    margin: 0;
}

* :last-child {
    margin: 0;
}

body {
    font-family: karla;
    background-color: #efefef;
    margin: 0 auto;
}

.add-padding {
    padding: 2rem;
}

.title {
    color: var(--clr-primary-cyan);
}

.subtitle {
    font-size: 1rem;
}

.bigger {
    font-size: 1.2rem;
}

.yellow {
    color: var(--clr-primary-yellow);
}

.money {
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
    margin-right: 0.5rem;
}

.btn {
    display: block;
    padding: 1rem 0;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin-top: 2rem;
    background-color: var(--clr-primary-yellow);
    box-shadow: 5px 5px 20px #4f4f4f;
}

.container {
    display: grid;

    background-color: #fff;
    max-width: 640px;
    border-radius: 8px;
    overflow: hidden;
    margin: 1rem auto;
    color: var(--clr-neutral-gray);
    box-shadow: 0px 0px 10px 5px #cfcfcf;
}

.join-section {
    background-color: #fff;
    color: var(--clr-neutral-gray-blue);
}

.join-section p {
    line-height: 2;
}

.price-section {
    background-color: var(--clr-primary-cyan);
}

.why-section {
    background-color: var(--clr-primary-cyan-opacity);
}

.why-section ul {
    list-style: none;
    margin-top: 1.5rem;
    padding: 0;
    line-height: 1.5;
    font-size: 0.875rem;
}

@media (min-width: 600px) {
    .add-padding {
        padding: 2.5rem;
    }

    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .join-section {
        grid-column: 1 / 3;
    }
}